transformers
datasets==2.14.5
evaluate==0.4.0
sentencepiece
scikit-learn
pandas
nltk
openpyxl==3.1.2
accelerate==0.23.0
torch
rouge_score==0.1.2
absl-py==2.1.0
matplotlib
seaborn
wordcloud
tqdm
tensorboard
bert_score
shap
streamlit